<mat-card >
  <mat-card-content>
  <mat-tab-group [(selectedIndex)]="tabAplicacao">
  <mat-tab label="Consulta">
    <div class="example-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
        <!-- <button mat-icon-button color="primary">
          <mat-icon aria-label="Incluir um registro">add_circle</mat-icon>
        </button> -->
      </mat-form-field>
    </div>
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
          <td mat-cell *matCellDef="let row"> {{row.id}} </td>
        </ng-container>

        <ng-container matColumnDef="progress">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Progress </th>
          <td mat-cell *matCellDef="let row"> {{row.progress}}% </td>
        </ng-container>

        <ng-container matColumnDef="nome">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
          <td mat-cell *matCellDef="let row"> {{row.nome}} </td>
        </ng-container>

        <ng-container matColumnDef="nomeArquivo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome do arquivo </th>
          <td mat-cell *matCellDef="let row"> {{row.NomeArquivo}} </td>
        </ng-container>

        <ng-container matColumnDef="descricao">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
          <td mat-cell *matCellDef="let row"> {{row.descricao}} </td>
        </ng-container>
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef >Ações</th>
          <td *matCellDef="let row">
            <button mat-icon-button [disabled]="meuForm.modificando" (click)="emitEdit(row, meuForm)" color="primary">
              <mat-icon aria-label="Incluir um registro">create</mat-icon>
            </button>
            <button mat-icon-button class=btn [disabled]="meuForm.modificando" (click)="emitRemove(row, meuForm)" color="primary">
              <mat-icon aria-label="Excluir um registro">delete</mat-icon>
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSizeOptions]="[7, 15, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab [label]='labelTab'>
    <my-relatorio-form [dado]='dado' #meuForm [relatorioMain]=this></my-relatorio-form>
  </mat-tab>
  <!-- <mat-tab label="Alterar">
    <my-relatorio-form></my-relatorio-form>
  </mat-tab> -->
  <mat-tab label="Tab 2">
    <ng-template mat-tab-label="Pbulicar">
      <mat-icon>attach_file</mat-icon>
    </ng-template>
  </mat-tab>
</mat-tab-group>
</mat-card-content>
</mat-card>
<!--

<div class="my-default-container">
  <mat-form-field>
    <input matInput placeholder="Nome"/>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Descrição"></textarea>
  </mat-form-field>

  <mat-form-field >
    <input matInput matInput placeholder="Nome arquivo"/>
  </mat-form-field>

</div>
<button mat-raised-button color="primary" (click)="onClick">Salvar</button>
 -->
