<div fxLayout="column" fxFlex>
<mat-sidenav-container class="sidenav-container" hasBackdrop='false' fxFlex>
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport="true"
      [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
      [attr.role]="isHandset ? 'dialog' : 'navigation'"
      [opened]="!(isHandset | async)!.matches"
      >
      <!-- <button mat-button [routerLink]="['./']">Continue</button> -->
      <!-- <mat-toolbar color="primary" [routerLink]="['./']"> -->

      <mat-toolbar color="primary" [routerLink]="['./']">
        Home
      </mat-toolbar>
      <mat-nav-list>
        <a mat-list-item routerLinkActive="active"><a [routerLink]="['./aplicacao']">Aplicação</a></a>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" >
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          >
          <!-- *ngIf="(isHandset | async)!.matches" -->

          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Gerenciador</span>
        <span class="my-fill-remaining-space"></span>
        <theme-picker md-direction="right"></theme-picker>
      </mat-toolbar>
      <div class="solution">
      <router-outlet></router-outlet>
    </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
