<mat-card>
  <mat-card-content>
    <div class="my-default-container">
      <mat-form-field>
        <input matInput placeholder="Nome"/>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput placeholder="Descrição"></textarea>
      </mat-form-field>

      <mat-form-field >
        <input matInput matInput placeholder="Nome arquivo"/>
      </mat-form-field>
    </div>
  </mat-card-content>
  <button mat-raised-button color="primary" (click)="onClick">Salvar</button>
</mat-card>
